@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sen:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.yellow-btn_without_arrow {
  width: 208px;
  height: 56px;
  background: rgb(255, 208, 80);
  padding: 16px 48px;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.yellow-btn_without_arrow:hover {
  background: rgb(237, 193, 74);
  box-shadow: 0px 4px 18px -10px rgb(0, 0, 0);
  transform: translateY(-4%);
}

.nav-btn {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: rgb(255, 255, 255);
  padding: 14px 46px;
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  max-width: 204px;
}
.nav-btn:hover {
  background: none;
  color: rgb(255, 255, 255);
}

.header {
  background: rgb(35, 37, 54);
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 5;
  min-width: 1280px;
}

.header-content {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 12px;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-circle {
  width: 6px;
  height: 6px;
  background: rgb(255, 208, 80);
  border-radius: 50%;
  transform: translate(-283px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
  opacity: 0;
}
@supports (-webkit-appearance: none) {
  .nav-circle {
    -webkit-transform: translate(-283px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link:first-child:hover ~ .nav-circle {
  transform: translate(-283px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
@supports (-webkit-appearance: none) {
  .nav-link:first-child:hover ~ .nav-circle {
    -webkit-transform: translate(-283px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link:nth-child(2):hover ~ .nav-circle {
  transform: translate(-223px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
@supports (-webkit-appearance: none) {
  .nav-link:nth-child(2):hover ~ .nav-circle {
    -webkit-transform: translate(-223px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link:nth-child(3):hover ~ .nav-circle {
  transform: translate(-147px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
@supports (-webkit-appearance: none) {
  .nav-link:nth-child(3):hover ~ .nav-circle {
    -webkit-transform: translate(-147px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link:nth-child(4):hover ~ .nav-circle {
  transform: translate(-49px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
@supports (-webkit-appearance: none) {
  .nav-link:nth-child(4):hover ~ .nav-circle {
    -webkit-transform: translate(-49px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  transition: all 0.3s ease 0s;
}
.nav-link:hover {
  color: rgb(255, 208, 80);
}
.nav-link:first-child {
  width: 68px;
}
.nav-link:nth-child(2) {
  width: 57px;
}
.nav-link:nth-child(3) {
  width: 94px;
}
.nav-link:nth-child(4) {
  width: 87px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.about-us_header {
  display: flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  z-index: 2;
  left: 172px;
  top: 159px;
}

.about-us-header_info {
  background: rgb(255, 255, 255);
  width: 624px;
  height: 356px;
  padding: 64px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.about-us_info_rubric {
  color: rgb(35, 37, 54);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about-us-info_title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.about-us_text {
  color: rgb(76, 76, 76);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  max-width: 477px;
}

.about-us_statistic {
  background: url("../img/about-us_background.jpg") bottom no-repeat;
  width: 1280px;
  margin: 0 auto;
  height: 800px;
  position: relative;
}

.statistic-container {
  background: rgb(255, 208, 80);
  width: 630px;
  height: 156px;
  padding: 32px 48px;
  display: flex;
  gap: 68px;
  position: absolute;
  top: 77.7%;
  left: 8.5%;
}

.statistic-title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.statistic-subtitle {
  color: rgb(35, 37, 54);
}

.about-us_container {
  background: rgb(244, 240, 248);
  max-width: 1280px;
  margin: 0 auto;
  padding: 119px 108px 96px 80px;
  display: flex;
  gap: 61px;
  height: 441px;
}

.about-us_rubrics {
  display: flex;
  align-items: center;
  gap: 473px;
}

.about-us_rubric {
  font-weight: 600;
}

.about-us_info {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.about-us_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-us_title {
  max-width: 494px;
}

.about-us_subtitle {
  color: rgb(109, 110, 118);
  max-width: 516px;
}

.our-mission_title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  width: 379px;
}

.creative-team {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  align-items: center;
}

.creative-team_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.creative-team_subtitle {
  max-width: 519px;
}

.creative-team_title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.creative-team_info {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.reason-to_start {
  gap: 64px;
}

.reason-to_start-div {
  width: 519px;
}

.section-authors {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.authors-div {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.authors-container {
  display: flex;
  gap: 32px;
}

.authors-link {
  width: 296px;
  height: 324px;
  background: rgb(244, 244, 244);
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.authors-link:hover {
  background: rgb(251, 246, 234);
  box-shadow: 0px 5px 16px 0px rgba(109, 110, 118, 0.2);
  transform: translateY(-2%);
}

.authors-link_img {
  width: 128px;
  height: 128px;
}

.authors-link_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authors-link_title {
  text-align: center;
}

.authors-link_subtitle {
  color: rgb(109, 110, 118);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 240px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.authors-link_icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.join-team_div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.join-team {
  max-width: 414px;
  max-height: 256px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.join-team_subtitle {
  color: rgb(109, 110, 118);
}

.yellow-btn_without_arrow {
  width: 179px;
}

.footer {
  background: rgb(35, 37, 54);
  padding: 56px 80px;
}

.footer-container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 12px;
  margin-bottom: 57px;
}

.footer-nav {
  gap: 24px;
}

.footer-nav_link {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  transition: all 0.3s ease 0s;
}
.footer-nav_link:hover {
  color: rgb(255, 208, 80);
  width: 100px;
  height: 100px;
}

.footer-content {
  max-width: 1280px;
  max-height: 256px;
  background: rgba(255, 255, 255, 0.05);
  padding: 80px 64px;
  display: flex;
  gap: 64px;
  margin-bottom: 48px;
}

.footer-title {
  width: 562px;
  color: rgb(255, 255, 255);
  font-family: "Sen";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.footer-form_input {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-form {
  width: 323px;
  height: 56px;
}

.footer-input {
  padding: 14px 163px 14px 25px;
  border: 1px solid rgba(109, 110, 118, 0.2);
  background: none;
  width: 323px;
  height: 56px;
}

.footer-link_icons {
  display: flex;
  align-items: center;
  gap: 27px;
}

.link_icons {
  transition: all 0.3s ease 0s;
}
.link_icons:hover > svg > g > path {
  transition: all 0.3s ease 0s;
  fill: rgb(255, 255, 255);
}

.footer-adress {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}

.footer-email {
  transition: all 0.3s ease 0s;
}
.footer-email:hover {
  opacity: 0.9;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
}

.footer_subtitle {
  color: rgb(109, 110, 118);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer-btn {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: rgb(255, 208, 80);
  padding: 14px 46px;
  border: 2px solid rgb(255, 208, 80);
  transition: all 0.3s ease 0s;
  width: 179px;
}
.footer-btn:hover {
  border: 2px solid rgb(255, 255, 255);
  background: none;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=about-us.css.map */