@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sen:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.yellow-btn {
  width: 208px;
  height: 56px;
  background: rgb(255, 208, 80);
  padding: 16px 48px;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.yellow-btn::after {
  transform: rotate(45deg);
  top: 46%;
  position: absolute;
  left: 76%;
  content: "";
  width: 6px;
  height: 1.5px;
  background: rgb(35, 37, 54);
  transition: left 0.3s ease-in;
}
.yellow-btn::before {
  transform: rotate(-45deg);
  top: 53%;
  position: absolute;
  left: 76%;
  content: "";
  width: 6px;
  height: 1.5px;
  background: rgb(35, 37, 54);
  transition: left 0.3s ease-in;
}
.yellow-btn:hover {
  background: rgb(237, 193, 74);
  box-shadow: 0px 4px 18px -10px rgb(0, 0, 0);
  transform: translateY(-4%);
}

.yellow-btn_without_arrow {
  width: 208px;
  height: 56px;
  background: rgb(255, 208, 80);
  padding: 16px 48px;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.yellow-btn_without_arrow:hover {
  background: rgb(237, 193, 74);
  box-shadow: 0px 4px 18px -10px rgb(0, 0, 0);
  transform: translateY(-4%);
}

.nav-btn {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: rgb(255, 255, 255);
  padding: 14px 46px;
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  max-width: 204px;
}
.nav-btn:hover {
  background: none;
  color: rgb(255, 255, 255);
}

.header {
  background: rgb(35, 37, 54);
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 5;
  min-width: 1280px;
}

.header-content {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 12px;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-circle {
  width: 6px;
  height: 6px;
  background: rgb(255, 208, 80);
  border-radius: 50%;
  transform: translate(-283px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
  opacity: 0;
}
@supports (-webkit-appearance: none) {
  .nav-circle {
    -webkit-transform: translate(-283px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link:first-child:hover ~ .nav-circle {
  transform: translate(-283px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
@supports (-webkit-appearance: none) {
  .nav-link:first-child:hover ~ .nav-circle {
    -webkit-transform: translate(-283px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link:nth-child(2):hover ~ .nav-circle {
  transform: translate(-223px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
@supports (-webkit-appearance: none) {
  .nav-link:nth-child(2):hover ~ .nav-circle {
    -webkit-transform: translate(-223px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link:nth-child(3):hover ~ .nav-circle {
  transform: translate(-147px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
@supports (-webkit-appearance: none) {
  .nav-link:nth-child(3):hover ~ .nav-circle {
    -webkit-transform: translate(-147px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link:nth-child(4):hover ~ .nav-circle {
  transform: translate(-49px, 15px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
@supports (-webkit-appearance: none) {
  .nav-link:nth-child(4):hover ~ .nav-circle {
    -webkit-transform: translate(-49px, 15px);
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.nav-link {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  transition: all 0.3s ease 0s;
}
.nav-link:hover {
  color: rgb(255, 208, 80);
}
.nav-link:first-child {
  width: 68px;
}
.nav-link:nth-child(2) {
  width: 57px;
}
.nav-link:nth-child(3) {
  width: 94px;
}
.nav-link:nth-child(4) {
  width: 87px;
}

.section-header {
  background: url("../img/man-sit.jpg") 0 0/cover no-repeat;
  height: 720px;
  margin-bottom: 128px;
  min-width: 1280px;
}

.section-header_container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 128px;
}

.header-container_info {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-bottom: 16px;
}

.container_rubric {
  color: rgb(35, 37, 54);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.container_rubric span {
  font-weight: 900;
}

.container-title {
  color: rgb(255, 255, 255);
  font-family: "Sen";
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  max-width: 803px;
}

.container-subtitle {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  max-width: 243px;
}
.container-subtitle .subtitle-color {
  color: rgb(255, 208, 80);
}

.section-header_info {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  max-width: 599px;
  margin-bottom: 48px;
}

.yellow-btn_alt:hover {
  box-shadow: 0px 1px 20px -3px rgb(0, 0, 0);
}

.yellow-btn:hover::after, .yellow-btn:hover::before {
  left: 79%;
}

.featured-post {
  margin-bottom: 128px;
}

.featured-post_div {
  max-width: 1282px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.featured-post_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-post_titles {
  display: flex;
  gap: 542px;
}

.featured-title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.featured-post_link a {
  position: relative;
  color: rgb(89, 46, 169);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.featured-post_link a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  margin: -5px 0;
  background-color: rgba(89, 46, 169, 0.6);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
.featured-post_link a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.featured-post_container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.featured-post_info {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 32px;
  border: 1px solid rgba(109, 110, 118, 0.1);
}

.featured-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.all-posts_rubric {
  color: rgb(76, 76, 76);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  max-width: 202px;
}
.all-posts_rubric span {
  color: rgb(89, 46, 169);
}

.img-title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  max-width: 669px;
}

.img-subtitle {
  color: rgb(109, 110, 118);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  max-width: 551px;
}

.all-posts_container {
  display: block;
  max-width: 517px;
  max-height: 181px;
  padding: 32px 115px 25px 32px;
  transition: all 0.2s ease 0s;
}
.all-posts_container:hover {
  background: rgb(251, 246, 234);
}

.all-posts_title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.about-us_container {
  background: url("../img/our-mission_background.png") 0 0/cover no-repeat;
  max-width: 1280px;
  margin: 0 auto;
  padding: 119px 108px 96px 80px;
  display: flex;
  gap: 61px;
}

.about-us_rubrics {
  display: flex;
  align-items: center;
  gap: 473px;
}

.about-us_rubric {
  color: rgb(35, 37, 54);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about-us_info {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.about-us_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-us_title {
  max-width: 494px;
}

.about-us_subtitle {
  max-width: 515px;
}

.our-mission_title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  width: 379px;
}

.about-us_btn {
  background: none;
  color: rgb(89, 46, 169);
  font-family: "Sen";
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  width: 112px;
  height: 32px;
  position: relative;
}
.about-us_btn:before {
  content: "";
  position: absolute;
  width: 84%;
  height: 1.5px;
  bottom: 5px;
  margin: -5px 0;
  background-color: rgba(89, 46, 169, 0.6);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
.about-us_btn:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.about-us_btn span {
  position: absolute;
  left: 97%;
  transition: all 0.4s ease 0s;
}

.about-us_btn:hover span {
  left: 103%;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 96px;
}

.section-category {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.category-title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2px;
}

.category-container {
  display: flex;
  gap: 32px;
}

.category-link {
  padding: 32px;
  border: 1px solid rgba(109, 110, 118, 0.2);
  max-width: 296px;
  transition: all 0.2s ease 0s;
}
.category-link:hover {
  background: rgb(255, 208, 80);
}

.category-link_img {
  margin-bottom: 16px;
}

.category-link_title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  margin-bottom: 4px;
}

.our-story_container {
  display: flex;
  gap: 32px;
  position: absolute;
  top: 18%;
  left: 45%;
  padding: 80px;
  background: url(../img/background.jpg) no-repeat;
  width: 706px;
  height: 584px;
  flex-direction: column;
}

.section_our-story {
  background: url("../img/hug-ppl.jpg") no-repeat;
  height: 705px;
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 128px;
}

.our-story_title {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
}

.our-story_subtitle {
  max-width: 546px;
}

.our-story_btn {
  width: 272px;
  height: 56px;
}

.discover-btn::before, .discover-btn::after {
  left: 83%;
}

.discover-btn:hover::after, .discover-btn:hover::before {
  left: 86%;
}

.authors-link {
  background: rgb(244, 244, 244);
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.authors-link:hover {
  background: rgb(251, 246, 234);
  box-shadow: 0px 5px 16px 0px rgba(109, 110, 118, 0.2);
  transform: translateY(-2%);
}

.authors-link_img {
  width: 128px;
  height: 128px;
}

.authors-link_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authors-link_title {
  font-size: 28px;
  letter-spacing: -2px;
}

.authors-link_subtitle {
  width: 240px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.authors-link_icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logos-text_rubric {
  color: rgb(35, 37, 54);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.6;
}

.logos-text_title {
  opacity: 0.7;
}

.featured-logos {
  display: flex;
  align-items: center;
  gap: 86px;
  justify-content: center;
}

.featured-logos_logo {
  display: flex;
  gap: 73px;
}
.featured-logos_logo a {
  opacity: 0.8;
  transition: all 0.2s ease 0s;
}
.featured-logos_logo a:hover {
  opacity: 1;
}

.testimonials {
  max-width: 1280px;
  background: rgb(251, 246, 234);
  margin: 0 auto;
  padding: 80px 112px;
  margin-bottom: 128px;
}

.testimonials-container {
  display: flex;
  gap: 176px;
  align-items: baseline;
}

.testimonials-info {
  max-width: 349px;
  gap: 12px;
  position: relative;
}
.testimonials-info:before {
  content: "";
  position: absolute;
  border: 1px solid rgb(109, 110, 118);
  opacity: 0.4;
  width: 310px;
  transform: rotate(90deg);
  left: 78%;
  top: 74%;
}

.testimonials-subtitle {
  color: rgb(35, 37, 54);
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  gap: 121px;
}

.testimonials-content_title {
  width: 469px;
}

.testimonials-profile {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  width: 257px;
}

.testimonials_profile-arrows {
  display: flex;
  align-items: center;
  gap: 141px;
}

.testimonials-arrows {
  display: flex;
  width: 136px;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

.arrow-left {
  background: url("../img/svg/left-btn.svg") 50% no-repeat;
  border-radius: 35px;
  width: 62px;
  height: 62px;
  transition: all 0.1s ease 0s;
}
.arrow-left:hover {
  background: url("../img/svg/left-btn_black.svg") 50% no-repeat;
}

.arrow-right {
  background: url("../img/svg/right-btn.svg") 50% no-repeat;
}
.arrow-right:hover {
  background: url("../img/svg/right-btn_black.svg") 50% no-repeat;
}

.join-team {
  max-width: 414px;
  max-height: 256px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 128px;
}

.yellow-btn_without_arrow {
  width: 179px;
}

.footer {
  background: rgb(35, 37, 54);
  padding: 56px 80px;
}

.footer-container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 12px;
  margin-bottom: 57px;
}

.footer-nav {
  gap: 24px;
}

.footer-nav_link {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  transition: all 0.3s ease 0s;
}
.footer-nav_link:hover {
  color: rgb(255, 208, 80);
  width: 100px;
  height: 100px;
}

.footer-content {
  max-width: 1280px;
  max-height: 256px;
  background: rgba(255, 255, 255, 0.05);
  padding: 80px 64px;
  display: flex;
  gap: 64px;
  margin-bottom: 48px;
}

.footer-title {
  width: 562px;
  color: rgb(255, 255, 255);
  font-family: "Sen";
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

.footer-form_input {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-form {
  width: 323px;
  height: 56px;
}

.footer-input {
  padding: 14px 163px 14px 25px;
  border: 1px solid rgba(109, 110, 118, 0.2);
  background: none;
  width: 323px;
  height: 56px;
}

.footer-link_icons {
  display: flex;
  align-items: center;
  gap: 27px;
}

.link_icons {
  transition: all 0.3s ease 0s;
}
.link_icons:hover > svg > g > path {
  transition: all 0.3s ease 0s;
  fill: rgb(255, 255, 255);
}

.footer-adress {
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}

.footer-email {
  transition: all 0.3s ease 0s;
}
.footer-email:hover {
  opacity: 0.9;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
}

.footer_subtitle {
  color: rgb(109, 110, 118);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer-btn {
  color: rgb(35, 37, 54);
  font-family: "Sen";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: rgb(255, 208, 80);
  padding: 14px 46px;
  border: 2px solid rgb(255, 208, 80);
  transition: all 0.3s ease 0s;
  width: 179px;
}
.footer-btn:hover {
  border: 2px solid rgb(255, 255, 255);
  background: none;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=styles.css.map */